body{
  background:#0b1220 !important;
}
.card{
  background:#020617 !important;
  color:white !important;
  border:2px solid #38bdf8 !important;
}
/* RESET */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:'Hind',sans-serif;
  background:linear-gradient(180deg,#0b1220,#020617);
  color:#e5e7eb;
}

/* HEADER */
header{
  background:rgba(2,6,23,.85);
  backdrop-filter:blur(10px);
  padding:15px 22px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  position:sticky;
  top:0;
  z-index:100;
}
header strong{color:#fff;font-size:18px}
header a{
  color:#38bdf8;
  font-weight:700;
}

/* HERO */
.hero{
  background:radial-gradient(circle at top,#1e90ff,#020617);
  padding:90px 20px;
  text-align:center;
  overflow:hidden;
}
.hero h1{
  font-family:'Poppins';
  font-size:40px;
  color:#fff;
  text-shadow:0 0 25px rgba(56,189,248,.8);
}
.hero p{color:#c7d2fe;margin-top:8px}
.hero a{
  margin-top:25px;
  display:inline-block;
  padding:16px 40px;
  border-radius:40px;
  background:linear-gradient(90deg,#22d3ee,#38bdf8);
  color:#020617;
  font-weight:800;
  box-shadow:0 0 35px rgba(56,189,248,.9);
  animation:pulse 2s infinite;
}

/* SEARCH */
.search input{
  background:#020617;
  color:#e5e7eb;
  border:2px solid #38bdf8;
}

/* SECTIONS */
section{
  max-width:1200px;
  margin:70px auto;
  padding:0 20px;
}
section h2{
  text-align:center;
  margin-bottom:35px;
  color:#38bdf8;
  font-size:28px;
}

/* CARDS */
.cards{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(230px,1fr));
  gap:28px;
}
.card{
  background:linear-gradient(145deg,#020617,#0b1220);
  border:1px solid rgba(56,189,248,.3);
  padding:30px 20px;
  border-radius:22px;
  text-align:center;
  box-shadow:0 0 30px rgba(56,189,248,.2);
  transition:.4s ease;
  animation:fadeUp .6s ease both;
}
.card:hover{
  transform:translateY(-14px) scale(1.03);
  box-shadow:0 0 60px rgba(56,189,248,.8);
}
.card i{
  font-size:48px;
  color:#38bdf8;
  margin-bottom:12px;
}
.card h3{
  color:#fff;
  font-size:18px;
}

/* NEWS CARDS */
#news .card{
  background:linear-gradient(145deg,#020617,#020617);
  border-left:4px solid #22d3ee;
}

/* MODAL */
.modal{
  backdrop-filter:blur(6px);
}
.modal-content{
  background:#020617;
  color:#e5e7eb;
  border-radius:25px;
  border:1px solid #38bdf8;
}
.modal-content li{
  border-bottom:1px dashed rgba(56,189,248,.3);
  padding:10px 0;
}

/* APPLY BUTTON */
.apply{
  background:linear-gradient(90deg,#22d3ee,#38bdf8);
  color:#020617;
  font-weight:700;
}

/* FOOTER */
footer{
  background:#020617;
  color:#94a3b8;
  text-align:center;
  padding:35px;
}

/* WHATSAPP */
.whatsapp{
  background:#25d366;
  box-shadow:0 0 30px rgba(37,211,102,.9);
}

/* ANIMATIONS */
@keyframes pulse{
  0%,100%{transform:scale(1)}
  50%{transform:scale(1.06)}
}
@keyframes fadeUp{
  from{opacity:0;transform:translateY(25px)}
  to{opacity:1;transform:translateY(0)}
}

